/*------------------------------------------------------------------
  
  Author: ajannat
  Description: MotorBike Repair Service Template
  Version: 1.0.0
  Tags:     advising, advisor, broker, business, clean, company, consultancy, consulting, corporate , investments, services 


  -----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------


- Font
- Base
- Component
- Section Padding
- Isotope Button
- Home Page One
    - Header Part 
    - Header  two 
    - Navigation Part 
    - Navigation Style Two
    - Navigation Style  three
    - Drop Down manu 
    - Contact form two
    - Mobile Manu
    - Banner Part 
    - About Part
    - Counter Part
    - Practise Part
    - Testimonial Part
    - Skill Part 
    - Social Media Part
    - Team Part 
    - Experience  Part 
    - Twitter Feed  Part
    - Footer  Part
    - Footer Copy Right
    - Footer style 2
    - Footer style 3
    - Clint Logo Part  
    - Blog  Part  
    - Progressbar Part
    - Progress bar 2 version
- Practice page One
- About company page
- Attorny details page 
- Practice  details page
- Contact  page
- Blog  page
    - Widget bar
    - Blog pagination
- Attorny page
- Blog page two
- 404 page
- Single page




---------------------------------------------------------------- */


/* ---------------------------------------------
            == FONT ==
            --------------------------------------------- */

            @import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i";
            @import "https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700";
            @import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap";




/* ---------------------------------------------
            == Base CSS==
            --------------------------------------------- */

            *,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul,
            ol,
            dl,
            button {
                margin: 0;
                padding: 0;
                outline: none;
            }

            body {
                position: relative;
                line-height: normal;
            }

            html,h1,
            h2,
            h3,
            h4,
            h5,
            h6,a,span,div {
                font-size: 100%;
                -webkit-text-size-adjust: 100%;
                font-variant-ligatures: none;
                -webkit-font-variant-ligatures: none;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                /* font-smoothing: antialiased; */
                -webkit-font-smoothing: antialiased;
                text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                line-height: normal;
            }

            a {
                line-height: normal;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -o-transition: all 0.4s;
            }

            a:hover,
            a:focus {
                text-decoration: none;
            }

            ul,
            ol,
            dl {
                list-style-type: none;
            }

            button {
                line-height: normal;
                background: none;
                border: none;
                cursor: pointer;
            }

            button:focus {
                outline: none;
            }

            .form-control:focus {
                box-shadow: none;
                outline: none;
            }
            .pad-bot-50{
                padding-bottom: 60px!important;
            }
            .pad-bot-20{
                padding-bottom: 20px!important;
            }
            .pt-0 {
                padding-top: 0 !important;
            }

            .pb-0 {
                padding-bottom: 0 !important;
            }

            .ptb-0 {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }

            .pr-0 {
                padding-right: 0 !important;
            }

            .pl-0 {
                padding-left: 0 !important;
            }

            .ptlr-0 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .fc-dark{
                color: #002e5b!important;
            }

            .mb-80{
                margin-bottom: 80px!important;
            }

            .primary-font,
            body {
                font-family: 'Open Sans', sans-serif;
            }

            body {
                font-size: 15px;
            }

            h1 {
                font-size: 52px;
                line-height: 62px;
            }

            .h2,
            h2 {
                font-size: 30px;
                line-height: 40px;
                letter-spacing: .25px;
            }

            .h3,
            h3 {
                font-size: 24px;
                line-height: 34px;
                font-family: "Montserrat", sans-serif;
                letter-spacing: .25px;
            }

            .h4,
            h4 {
                font-size: 18px;
                line-height: 28px;
            }

            .h5,
            h5 {
                font-size: 15px;
                line-height: 25px;
            }

            .h6,
            h6 {
                font-size: 14px;
                line-height: 24px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                color: #515050;
            }

            img {
                max-width: 100%;
            }

            .bg_dark{
                background: #f6f6f6;
            }

            .second-nav-toggler {
                width: 23px;
            }

            @media only screen and (min-width: 1200px) {
                .container {
                    max-width: 1200px;
                }
            }

            @media only screen and (max-width: 1199px) {
                h1 {
                    font-size: 52px;
                    line-height: 62px;
                }

                .h2,
                h2 {
                    font-size: 28px;
                    line-height: 38px;
                }
                .section-head-2 h2 {
                    font-size: 28px;
                }



            }


            @media only screen and (max-width: 991px) {
                .fi::before {
                    font-size: 45px;
                }
            }
            .form-sizing{
                width: 60%;
                margin: auto auto;
            }
            @media only screen and (max-width: 700px) {
                /* .fi::before { */
                    /* font-size: 45px; */
                /* } */
                .form-sizing{
                    width: 90%;
                }
            }


.services{
    padding: 5px 5px;
    margin: 5px 5px;
    color: #273a41;
    font-size: 18px;
    font-family: auto;
    background-color: #ed3e61;
    /* border: 1px solid #273a41; */
    /*ed3e61 e5e1d1 273a41*/
}
.service-section{
    /* min-height: 50vh; */
    color: #273a41;
    font-weight: bold;
    /* background-image: url("images/bike.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%;
}
.service-section h2{
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.form-section{
    background-color: #273a41;
}
#service-form{color: #fff;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        background: url('../images/speedometer.png') no-repeat center;
}
.service-form-description p{
    color: #fff;
}
.top{
    background-color: #ed3e61
}
.contact p{
    font-size: 20px;
    color: #273a41;
}
.backtotop{
    display: block;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 9999;
    -webkit-box-shadow: -4px 1px 7px 0px rgba(84, 84, 84, 0.35);
    -moz-box-shadow: -4px 1px 7px 0px rgba(84, 84, 84, 0.35);
    box-shadow: -1px 1px 5px 0px rgba(84, 84, 84, 0.35);
}
.backtotop i{
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-size: 20px;
    background: #fff;
    margin: 2px;
    color: #ed3e61;
    text-align: center;
    border-radius: 50%
}
.hide-content{
    display: none;
}
.fa-spinner{
    color: #ed3e61;
    font-size: 50px;
    z-index:999;
    top:50%; 
    left:50%; 
    position:fixed;
}
  .loader{
      opacity:0.6;
      background-color:#273a41; 
      width:100%; 
      height:100%; 
      font-size: 50px;
      z-index:9;
      top:0; 
      left:0; 
      position:fixed;
}